* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
}

#app.editor {
    .editor-pointer-events-none {
        pointer-events: none;
    }
    .user-select-none::before {
        user-select: none;
    }
}

.render-component {
    position: relative;
    user-select: none;

    &::before {
        content: '';
        border: 1px dashed #ccc;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        pointer-events: none;
    }

    &.select-active {
        &::before {
            z-index: 1000;
            border-color: $primary-color;
            border-width: 2px;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
        }
    }
}
